*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  background-color: #f5f3f7;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  height: 50rem;
}

.header__stamp {
  width: 50%;
  height: 45rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #e570ff), to(#85229b));
  background-image: linear-gradient(to bottom, #e570ff 10%, #85229b);
  border-bottom-right-radius: 20rem;
}

.phone-container {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 45rem;
  width: 65%;
  background-color: #e6e6e6;
  -webkit-box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  border: 1rem solid white;
  z-index: 90;
}

.phone-container::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 2.5rem;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: -1%;
  left: 22%;
  z-index: 81;
}

.user-name {
  width: 100%;
  height: 17%;
  background-image: -webkit-gradient(linear, left top, right top, from(#85229b), to(#e570ff));
  background-image: linear-gradient(to right, #85229b, #e570ff);
  position: absolute;
  z-index: 80;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 2rem 3rem;
}

.user-name::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 2.5rem;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: -1%;
  left: 22%;
  z-index: 81;
}

.user-name__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 45%;
  left: 15%;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.user-name__box-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.user-name__img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
}

.user-name__text-box {
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

.user-name__header {
  font-size: 1.2rem;
  color: #f5f3f7;
}

.user-name__text {
  font-size: 0.9rem;
  color: rgba(203, 203, 203, 0.547);
}

.user-name__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1rem;
  gap: 2px;
}

.user-name__circles-item {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}

div .message {
  width: 100%;
  height: 100%;
  position: relative;
}

div .message__box {
  width: 65%;
  height: 4rem;
  background-color: #ddc5e3;
  position: absolute;
  top: 9rem;
  left: 1rem;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
}

div .message__box-text {
  text-align: left;
  color: #a844c1;
  font-size: 1rem;
}

div .message__box__second {
  width: 65%;
  height: 4rem;
  background-color: #ddc5e3;
  position: absolute;
  top: 14rem;
  left: 1rem;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  margin-bottom: 1rem;
}

div .message__box__second-text {
  text-align: left;
  color: #a844c1;
  font-size: 0.95rem;
}

div .message__box__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20rem;
  right: 1rem;
  gap: 1rem;
}

div .message__box__picture-item {
  width: 4rem;
  border-radius: 1rem;
}

div .message__box__right-side-text {
  width: 65%;
  height: 4rem;
  background-color: white;
  position: absolute;
  top: 25rem;
  right: 1rem;
  padding: 0.7rem;
  border-radius: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
  color: rgba(50, 50, 50, 0.547);
  -webkit-box-shadow: 3px 3px 5px rgba(112, 112, 112, 0.109);
          box-shadow: 3px 3px 5px rgba(112, 112, 112, 0.109);
}

div .message__box__right-side-second-text {
  width: 43%;
  height: 3rem;
  background-color: white;
  position: absolute;
  top: 30rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
  color: rgba(50, 50, 50, 0.547);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 5px rgba(112, 112, 112, 0.109);
          box-shadow: 3px 3px 5px rgba(112, 112, 112, 0.109);
}

div .message__box__end {
  width: 70%;
  height: 3rem;
  background-color: white;
  position: absolute;
  top: 34.5rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 1rem 0;
  margin-bottom: 1rem;
  color: rgba(50, 50, 50, 0.547);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 5px rgba(112, 112, 112, 0.109);
          box-shadow: 3px 3px 5px rgba(112, 112, 112, 0.109);
}

div .message__box__input {
  width: 90%;
  height: 3rem;
  background-color: white;
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  color: rgba(100, 100, 100, 0.547);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.3rem 0 1rem;
}

div .message__box__input-icon {
  font-size: 1.4rem;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #85229b;
  color: #f5f3f7;
  text-align: center;
}

.main-title {
  width: 37.5rem;
  font-size: 3rem;
  color: #451460;
  margin: 8rem auto 2.5rem;
}

.main-text {
  color: rgba(100, 100, 100, 0.547);
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  line-height: 2.2rem;
}

.text-box {
  width: 30rem;
  margin: 0 auto;
  position: absolute;
  bottom: -28rem;
  left: -15%;
}
/*# sourceMappingURL=main.css.map */